 <div class="container-fluid footer">
    <div class="container">
        <footer class="mt-auto text-center ">
            <div class="row">
                <div class="col mt">
                    <p>
                        <a href="">QUI SOMMES-NOUS ?</a>
                    </p>
                    <p>
                        <a href="">ASTUCES</a>
                    </p>
                    <img src="{{asset('assets/image/astus.png')}}" alt="" >
                </div>
                <div class="col mt">
                    <p>
                        <a href="">MENTIONS LEGALES</a>
                    </p>
                    <p>
                        <a href="">REGLEMENT</a>
                    </p>
                    <img src="{{asset('assets/image/mention.png')}}" alt="" >
                
                </div>
                <div class="col mt">
                    <p>
                        <a href="">CONFIDENTIALITE </a>
                    </p>
                    <p>
                        <a href="">CONTACT</a>
                    </p>
                    <img src="{{asset('assets/image/contact.png')}}" alt="" >

                </div>
                    <p class="text-center">&copy; copyright 2022 geoMadagascar</p>
            </div>
        </footer>
    </div>
</div>